.checkboxes {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row1 {
	width: 200;
}

.row2 {
	width: 500;
}

.leftalign {
	text-align: left;
}

.rightalign {
	text-align: right;
}

.italic {
	font-style: italic;
}